*{
  font-family: 'Poppins', sans-serif;
  background-color: rgb(227, 219, 199);
  text-align: center;
}
body, h1, h2, p, iframe {
  margin-bottom: 10px;
}
/**
.spotify-container {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.spotify-container iframe {
  width: 25vw; /* 25% of the viewport width */
