*{
  font-family: 'Poppins', sans-serif;
  background-color: rgb(227, 219, 199);
  text-align: center;
}
body, h1, h2, p, iframe {
  margin-bottom: 10px;
}
.spotify-container {
  margin-bottom: 3px !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Horizontal centering */
  margin-left: auto; /* Horizontal centering */
  margin-right: auto; /* Horizontal centering */
}

.spotify-container iframe {
  border: none; /* This removes the border */
  margin: 10px; /* Add some margin between iframes */
}